/.idea
/.gradle
build/
/out
/_site
*.iml
*.ipr
*.iws
*~
*.log
/.gradletasknamecache
/src/docs/_site/
.DS_Store
/.java-version
*.jks
*.jks.cert
lib/
log.txt
target/
*.csr
*.cert
classes/
local.properties
